# pip install -r requirements.txt
# pip install -r requirements.txt --break-system-packages
# source ~/.bashrc

streamlit
pandas
numpy
ofxparse
yahooquery
plotly
prophet
yfinance
mibian
scikit-learn
statsmodels
