# pip install -r requirements.txt
alpha_vantage
astropy
datetime
ephem
folium
geopandas
geopy
importlib
keras
levenshtein
matplotlib
mibian
mplfinance
nbformat
numpy
openpyxl
pandas
pip
plotly
plotly.express
polygon-api-client
pydataset
pyephem
pygeodesy
pyinstaller
pyproj
requests
scikit-learn
scipy
scrapy
seaborn
selenium
SpeechRecognition
streamlit
streamlit_folium
streamlit-aggrid
yfinance

