# pip install -r requirements.txt
datetime
geopandas
importlib
keras
levenshtein
matplotlib
matplotlib
nbformat
numpy
openpyxl
pandas
pip
plotly
pydataset
pyinstaller
requests
scikit-learn
scipy
scrapy
selenium
SpeechRecognition
streamlit
streamlit-aggrid
yfinance
